@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
body {
    background: #fff;
    padding: 0 5ref;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #4C184E;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    --moz-appearance: textfield;
}

.text-left {
    text-align: left!important;
}

.mg-top-1 {
    margin-top: 1rem!important;
}


/* Nav Bar ///////////////////////////////*/

.bg-purple {
    background: #4C184E;
    /* margin: 0 2.5rem; */
}

.marginX-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar-nav {
    color: #ffffff !important;
    --bs-nav-link-padding-y: 2.5rem !important;
    --bs-navbar-padding-y: 2.5rem !important;
}

.nav-link {
    color: #ffffff !important;
}

.btn-waGstarted {
    background: #F37021;
    border-radius: 8px;
    color: #ffffff;
    width: 100%;
}

.btn-waGstarted :hover {
    background: #F37021;
    border-radius: 8px;
    color: #ffffff;
}

.hoverit:hover {
    background-color: transparent;
}

.nav-item {
    padding: 0 1rem;
}

.gs-icon {
    padding: 0.5rem;
}

.nav-img {
    width: 15rem;
}


/* Nav Bar end ///////////////////////////////*/


/* Body */

.left-Br {
    padding: 2rem 4rem;
}

.mid-seg {
    padding: 5rem 5rem;
}

.text-right {
    text-align: right;
}

.lower-stuff {
    margin-top: 5rem;
}

.btn-rony {
    border-color: #ffffff;
    border: 0.4rem;
    border: solid;
    --bs-btn-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    margin: 2rem 0 5rem;
}

.very-lower-stuff {
    display: inline-flex;
}

.combi {
    margin-top: -1rem;
}

.guy-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left-Brh4,
.left-Brp {
    color: #ffffff;
}


/* End */


/* Page 2 */

.beatbox {
    margin-top: 5rem;
}

.jus-single {
    margin: 2rem;
}

a.jus-single.btn.btn-waGstarted.btn-disabled {
    width: auto !important;
    background-color: #E0520640;
    ;
}

.phonetext {
    width: 25Rem;
    margin: auto;
}

.input-group.phonetext.text-left {
    flex-wrap: nowrap;
}

.help-text {
    color: #4C184E;
    /* font-weight: 800; */
    font-weight: bolder;
}

.btn-nav-link {
    margin-top: -8px;
}

#cntry-code {
    width: 2rem;
}

.input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {
    width: 60%;
}

.v-entry {
    display: inline-flex;
}

.verification {
    max-width: 4rem;
}

.v-button {
    text-align: center;
    display: grid;
}


/* Verification Code */

a.jus-single.btn.btn-waGstarted {
    width: 5rem !important;
    background-color: #F37021;
    margin: auto;
}

.btn-rsnd {
    background-color: transparent;
}


/* Tab thingy */

.parent-tab {
    display: inline-flex;
}

.devider {
    width: 10rem;
    padding: 0 5rem;
    background-color: #4C184E;
    height: 2px;
    border-radius: 8PX;
    align-self: center;
}

.child-tab {
    margin-right: 2rem;
    margin-left: 2rem;
}

.child-tab.active {
    margin-bottom: 1rem;
    background-color: #F37021;
    height: 3rem;
    width: 3rem;
    align-self: center;
    color: #ffffff;
    border-radius: 50px;
    /* padding: 0px 0 0 0; */
    margin-top: 30px;
}

.child-tab {
    margin-bottom: 1rem;
    border-color: #F37021;
    height: 3rem;
    width: 3rem;
    border-style: solid;
    align-self: center;
    color: #333;
    border-radius: 50px;
    /* padding: 0px 0 0 0; */
    margin-top: 30px;
    border-width: 1px;
}

.child-tab p {
    margin-top: 0.5rem;
    /* margin-top: 0px; */
}

.child-tab h6 {
    margin-top: 2rem;
    color: #333;
}

.g-map {
    width: 100%;
}

.lil-heading.bg-purple h3 {
    color: #F37021!important;
}

.lil-heading.bg-purple {
    padding: 1.4rem 0.6Rem;
    height: 80px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lil-body {
    padding: 0.01Rem 0.7Rem;
    color: #4C184E;
}

.order-details {
    padding: 1rem 0.2Rem;
    background-color: #EFEFF44D;
}

.lil-detail {
    font-weight: 400;
    font-size: 14px;
}

.mini-lil-detail {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E93;
}

.col-md-6 .form-control,
.col-4 .form-control {
    border: #4C184E;
    border-style: solid;
    border-width: 2px;
    height: 60px;
}

.mg-top-1 .form-control {
    height: 60px;
    background: #E5E5E5;
}

.next-btn {
    background: #F37021;
    border-radius: 8px;
    color: #ffffff;
    height: 60px;
    width: 150px;
}

.back-btn {
    height: 60px;
    width: 100px;
}

.label-nat {
    padding-bottom: 0.1rem;
}

.black-labels {
    padding: 0 1.2rem;
}

.mini-tab {
    display: inline-flex;
}

.check-icon {
    padding-left: 0.8rem;
}

.card {
    padding: 2.5rem 2rem;
    border: 1px solid #E5E5EA;
    background: #EFEFF44D;
}

.new-tag {
    margin-left: 2rem;
}

.text-right.order-details.col-md-5 {
    padding-right: 1rem;
}

.col-md-8 .order-details.shadow-sm h4 {
    color: #4C184E;
}

.form-check-input:checked {
    background-color: #00C823;
    border-color: #00C823;
}

.mybtn {
    width: 10rem !important;
    background-color: #F37021;
    margin: auto;
    color: white;
}

.mybtn2 {
    background-color: transparent;
    margin: auto;
    color: #4C184E;
    border: 1px solid #4C184E;
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
}


/* MEDIA //////////////*********************************?************************************??????????????********** */

@media (min-width: 992px) {
    .lg-tpad {
        margin-top: 1rem;
    }
}

.md-header {
    margin-top: 1.5rem;
}

.modal-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.modal-accept {
    height: 60px;
    background-color: transparent;
    color: #4C184E;
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-accept:hover {
    border: 1px solid #4C184E;
    color: #4C184E;
}